{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": true,
  "printWidth": 110,
  "trailingComma": "all",
  "importOrderSortSpecifiers": true
}
